@import url("variables.css");
body,
html {
  background-color: var(--background-color);
  color: black;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Animations */
@keyframes pop_in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Nav */

nav {
  background-color: var(--ship-blue);
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0em;
  height: 10vh;
  align-items: center;
  /* filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5)); */
}

#nav-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#nav-right {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 2.5rem;
}

#nav-left > *,
#nav-right > * {
  margin: 0 0.6em;
}

.nav-title {
  font-weight: bold;
  font-size: 2.2em;
  min-width: fit-content;
}

/* .nav-subtitle {
  position: absolute;
  left: 13em;
  top: 5.2em;
  font-style: italic;
} */

.nav-subtitle {
  min-width: fit-content;
  position: relative;
  left: -25em;
  top: 2em;
  font-style: italic;
}

.nav-img {
  height: 5em;
  margin-left: 2vw;
}
.bluebutton::before {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 2.6rem;
  height: 0;
  width: 0%;
  content: "";
  border-bottom: 2px solid white;
  transition: width 0.2s;
}

.bluebutton:hover::before {
  width: 60%;
  transition: width 0.4s;
}
.bluebutton {
  position: relative;
  background-color: var(--ship-blue-accent);
  padding: 1rem 1.5rem;
  line-height: 1.3rem;
  border-radius: 0.5em;
  border: none;
  color: white;
  font-weight: 640;
  transition: filter 0.4s;
  user-select: none;
  text-decoration: none;
  min-width: fit-content;
}

.bluebutton:hover {
  cursor: pointer;
  font-weight: 700;
  filter: contrast(1.3) drop-shadow(0.1em 0.2em 0.25rem rgba(0, 0, 0, 0.5));
  transition: filter 0.4s;
}
/* .nav-link::after {
  font-weight: bolder;
  content: ">";
  display: inline;
  padding-left: 0.5em;
  transition: padding 0.4s;
}
.nav-link:hover::after {
  content: ">";
  padding-left: 0.8em;
  transition: padding 0.4s;
} */

/* Main Content*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0em auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
  border-bottom: 3px solid black;
  background-color: white;
}

.content-wrapper > .row:nth-child(even) {
  background-color: var(--ship-blue);
  color: white;
}

.content-wrapper > .row:nth-child(even) > .panel {
  background-color: var(--ship-blue-accent);
}

.row > div {
  flex-basis: 50%;
  flex-grow: 1;
  margin: 0.5em 0.9em;
  filter: drop-shadow(0.1em 0.2em 0.25rem rgba(0, 0, 0, 0.5));
}

/* Panels */
.panel {
  padding: 0.7em;
  background-color: var(--ship-blue);
  border: 1px solid var(--ship-blue-accent);

  border-radius: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 2;
}

.panel-title {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid white;
  padding: 0.3em 0.9em;
}

.panel-title > p {
  margin: 0.1em 0.3em;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  color: white;
}

.panel-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 0.5em;
  border-bottom: 1px solid white;
}
.panel-content-row > p {
  margin: 0.5em 0.5em;
  text-transform: capitalize;
}

.panel-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.panel-row > .panel {
  margin: 0.5em 0em;
}

.panel-row > .panel:last-child {
  margin-bottom: 0em;
}
.panel-row > .panel:first-child {
  margin-top: 0em;
}
.panel-vertical-divider {
  border-right: 0.4em solid black;
  flex-grow: 0;
  flex-shrink: 20;
}
#statistics {
  flex-basis: 40%;
  flex-grow: 0;
}

#map {
  height: 44vh;
}

#map > .ol-viewport {
  overflow: visible !important;
}

/* General Elements */
button {
  padding: 0.3em 0.7em;
}

ul > li {
  text-decoration: none;
  list-style-type: none;
}

/* Timeline*/

.timeline-node-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0.5em;
}

.timeline-node {
  position: relative;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: 0.9em;
  z-index: 5;
}
.timeline-node > p:nth-child(2) {
  display: none;
}
.start > p:nth-child(2),
.timeline-node:last-child > p:nth-child(2) {
  display: block;
  position: absolute;
  top: -2em;
}

.timeline-node > p {
  margin: 0.1em 0.1em;
  text-align: center;
  z-index: 4;
}

.timeline-edge {
  border-bottom: 2px solid white;
  width: 5em;
  height: 3em;
  text-align: center;
  flex-grow: 3;
  position: relative;
  top: -1.5em;
  z-index: 6;
}

.timeline-edge.travel {
  border-bottom: 2px solid white;
  font-size: 0em;
}

.timeline-edge.stay {
  border-bottom: 2px dotted white;
  flex-grow: 1;
  min-width: 10em;
}

.timeline-node.start,
.timeline-node.departure {
  background-color: rgb(52, 231, 52);
}
.timeline-node.departure > p:first-child,
.timeline-node.start > p:first-child {
  color: black;
}
.timeline-node.arrival,
.timeline-node.end {
  background-color: rgb(0, 140, 255);
}
.timeline-node.arrival::after,
.timeline-node.end::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  top: 4.5em;
}
.timeline-node.departure::after,
.timeline-node.start::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  top: 4.5em;
}

.timeline-node.end::before {
  content: "ETA";
  font-size: 0.7em;
}

.underway::after {
  position: absolute;
  content: "onderweg";
  background-image: url("ship.png");
  top: 4.5em;
  font-size: 1rem;
}
.underway {
  border-bottom: 2px dashed white;
}

.timeline-node > p,
.timeline-edge > p {
  text-transform: capitalize;
}

/* Footer */

.row:has(> footer) {
  padding: 1em 3em;
}

/* Form */
.modal-close {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4em 0.6em;
  z-index: 30;
  transition: transform 0.3s, filter 0.3s;
}

.hidden {
  display: none !important;
  pointer-events: none !important;
}
.modal-close:hover {
  cursor: pointer;
  filter: drop-shadow(0.1em 0.1em 0.2rem rgba(0, 0, 0, 0.5));
  transform: scale(1.05) translate(0, -0.1em);
  transition: transform 0.3s, filter 0.3s;
}

.modal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  background-color: var(--ship-blue);
  filter: drop-shadow(0.1em 0.2em 0.25rem rgba(0, 0, 0, 0.5));
  border: 1px solid var(--ship-blue-accent);
  border-radius: 1em;
  z-index: 20;

  height: fit-content;
  width: 50vw;

  animation: pop_in 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-bottom: 2em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 60%;
}

.backdrop {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.2em);
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  width: 100%;
  gap: 1em;
}

.modal-form > label {
  font-weight: bold;
  font-size: 1.1em;
}

.modal-title {
  text-decoration: underline;
}

.modal-form input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  border: 2px solid white;
  background-color: var(--ship-blue-accent);
  color: white;
}

.modal-form button {
  width: fit-content;
  padding: 1em 1em;
  margin: auto;
}

.login-form-indicator {
  color: rgb(255, 255, 255);
  background-color: red;
  padding: 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: center;
  display: none;
}

/* Hamburger menu */

#nav-right > a {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 1080px) {
  .nav-title,
  .nav-subtitle {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  #map {
    min-height: 40vh;
  }

  .row > div {
    flex-basis: 100%;
  }

  .timeline-node-wrapper {
    flex-direction: column;
  }
  .start > p:nth-child(2),
  .end > p:nth-child(2) {
    display: block;
    position: absolute;
    right: -4em;
    top: 1em;
  }

  .timeline-node:last-child > p:nth-child(2) {
    display: block;
    position: absolute;
    right: -4em;
    top: 1em;
  }

  .timeline-edge {
    border-bottom: 0px solid white;
    border-right: 2px solid white;
    width: 3em;
    height: 5em;
    top: 0em;
    left: -5em;
  }

  .timeline-edge > p {
    position: absolute;
    top: 0.6em;
    right: -4em;
  }

  .timeline-edge.travel {
    border-bottom: 0px solid white;
    border-right: 2px solid white;
    min-height: 2rem;
  }

  .timeline-edge.stay {
    border-bottom: 0px dotted white;
    border-right: 2px dotted white;
  }

  .timeline-edge.underway {
    border-bottom: 0px dashed white;
    border-right: 2px dashed white;
    top: 0em;
    left: -1.5em;
  }

  .timeline-node.departure::after,
  .timeline-node.start::after,
  .timeline-node.arrival::after,
  .timeline-node.end::after {
    top: 1.5em;
    left: -2em;
  }

  .underway::after {
    top: 2em;
    transform: rotate(90deg);
    left: 3em;
  }

  /* Media hamburger menu*/
  /* Credits: https://codepen.io/alvarotrigo/pen/MWEJEWG */
  /* Slightly edited */
  .menu-button-container {
    display: flex;
  }
  #nav-right {
    position: absolute;
    top: 0;
    margin-top: 7rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  #menu-toggle ~ #nav-right a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ #nav-right a {
    border: 1px solid var(--ship-blue);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #nav-right > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
  #nav-right > a:not(:last-child) {
    /* border-bottom: 1px solid #444; */
  }
}
